# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Erik\Documents\UPCHIAPAS\7mo cuatrimestre\Programación_concurrente\Corte3\A3.3_Proyecto Restaurante\Restaurante\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
